.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.block-21 .text {
  width: calc(100% - 100px);
}
.block-21 .text .heading {
  font-size: 18px;
  font-weight: 300;
}
.block-21 .text .heading a {
  color: #000000;
}
.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
  color: #d1002c;
}
.block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.block-21 .text .meta > div a {
  color: gray;
}
.heading {
  margin-bottom: 1rem !important;
  margin-top: 0px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 3.2rem;
  color: rgba(0, 0, 0, 0.8);
}
.about-author {
  background: #f3f3f3;
}
.author-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem !important;
  vertical-align: middle;
  border-style: none;
}
.about-author .desc {
  margin: 0 1.6rem 0.8rem 5.6rem;
}
.about-author .desc h3 {
  font-size: 24px;
  color: #000;
}
.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000000;
  border: 1px solid #ccc;
  font-size: 11px;
}
.tagcloud a:hover {
  border: 1px solid #000;
}
.comment-heading {
  margin-bottom: 3rem !important;
  margin-top: 0px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.8);
}
.comment-form-wrap form {
  background: #f3f3f3;
}

.comment-list {
  padding: 0;
  margin: 0;
}
.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .vcard {
  width: 80px;
  float: left;
}
.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-list li .comment-body h3 {
  font-size: 20px;
  font-weight: 600;
}
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #d1002c;
}
.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 4px;
}
.comment-list li .comment-body .reply:hover {
  color: #fff;
  background: black;
}

.search-form {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
.search-form .form-group {
  position: relative;
}
.search-form .form-group input {
  padding-right: 50px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
}
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 0 0 20px 20px;
  font-size: 15px;
  width: 100%;
  background: #fff;
}
.sidebar-box *:last-child {
  margin-bottom: 0;
}
.sidebar-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  margin-top: 0px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 991.98px) {
  .sidebar-box {
    padding: 0 0 0 0;
  }
}

.categories li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  list-style: none;
}
.categories li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a {
  display: block;
  color: #1a1a1a;
}
.categories li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}
.categories li.active a {
  color: #000000;
  font-style: italic;
}
